TestApp/TestEmailPto/Connected Services/UserAPI/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfTestProject" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfTestProject" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Message" nillable="true" type="tns:Message" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMessage" nillable="true" type="tns:ArrayOfMessage" />
  <xs:complexType name="Message">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DBObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="From" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsRead" type="xs:boolean" />
          <xs:element minOccurs="0" name="SentOn" type="xs:dateTime" />
          <xs:element minOccurs="0" name="To" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Message" nillable="true" type="tns:Message" />
  <xs:complexType name="DBObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DBObject" nillable="true" type="tns:DBObject" />
  <xs:complexType name="User">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DBObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
          <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
</xs:schema>